#firends-display-link{
    text-align: center;
    display:block;
    background-color: rgb(98%, 98%, 98%);
    padding:15px 0px;
    font-size:18px;
    font-weight: 600;
    margin-bottom: 10px;
}
#firends-display-link i {
    color: rgb(84%, 84%, 84%);
    border-right: 15px;
    border-left: 25px;
}

.frineds-screen{
    padding: 0px var(--horizontal-sapce);
}

.friends-screen__channel{
    margin-top: 25px;
    border-top: 1px solid rgba(0,0,0,0.2);
}
.friend-screen__channel-header{
    display:flex;
    justify-content: space-between;
    padding: 15px 0px;
    margin-bottom: 15px;
    color:rgba(0,0,0,0.5)
}