.nav{
    background-color:rgb(98%, 98%, 98%);
    padding:20px 40px;
    box-sizing:border-box;
    border-top:1px solid rgb(91%, 91%, 91%);
    position:fixed;
    bottom:0;
    width:100%;
}
    
.nav_list{
    display:flex;
    justify-content:space-around;
   
}
.nav_link{
    color: rgb(18%, 21%, 24%);
    position:relative;
}

.nav_notification{
    background-color:rgb(100%, 38%, 16%) ;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    color:white;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    position:absolute;
    left: 22px;
    bottom: 18px;

}