@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');
@import "reset.css";
@import "variables.css";


/*component*/
@import"components/status-bar.css";





body{
    font-family: 'Open Sans', sans-serif;
    color: rgb(16%, 16%, 16%);
    background-color: white;
}

.main-screen{
    padding: 0px var(--horizontal-sapce);
    
}
